/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */
@use 'modules/variables.scss';
@use 'modules/fonts.scss';
@use 'modules/accordion.scss';
@use 'modules/action-button.scss';

.gurps-ui {
  color: var(--color-compactsheet);
  background-color: var(--bgcolor-compactsheet);
  font-family: var(--fontfamily-std);
  padding: var(--gap-std);
}

.gurps-ui label {
  font-weight: var(--fontweight-label);
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  color: var(--color-label);
  white-space: nowrap;
}

.gurps-ui button {
  text-transform: uppercase;
  font-size: var(--fontsize-compact-btn);
  border-radius: var(--borderradius-std);
}

.gurps-ui input[type='text'] {
  background-color: transparent;
  border: 1px hidden grey;
  border-bottom: 1px dotted grey;
  outline: none;
  padding: 0px;
  border-radius: 0px;
  height: auto;
}

.gurps-ui input[type='text']:focus {
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: 3px;
  background-color: unset;
  outline: unset;
  padding: unset;
}

.gurps-ui textarea {
  font-family: var(--fontfamily-std);
  font-size: inherit;
}

.compact-sheet #character-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content;
  gap: var(--gap-std);
  height: unset;
}

.gurps-ui #header-image {
  display: inline-flex;
  flex-flow: column nowrap;
  grid-row: span 3;
}

.gurps-ui #header-image img {
  background-color: lightgrey;
  height: 92px;
  width: 92px;
  border-radius: 0;
  border-top-left-radius: var(--borderradius-std);
  border-top-right-radius: var(--borderradius-std);
}

.gurps-ui #header-image button {
  margin: 0px;
  margin-top: -1px;
  line-height: unset;
  border: 1px solid grey;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--borderradius-std);
  border-bottom-right-radius: var(--borderradius-std);
}

.compact-sheet #header-data {
  padding-bottom: var(--gap-std);
}

.compact-sheet #header-detail-fields,
.compact-sheet #header-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content 1fr max-content;
  grid-template-rows: auto;
  gap: var(--gap-small);
  font-size: var(--fontsize-detail);
}

.compact-sheet #header-data [name='name'] {
  grid-column: span 6;
  font-size: var(--fontsize-title);
  padding-bottom: var(--gap-std);
}

.compact-sheet #appearance {
  grid-column: span 6;
  margin-bottom: var(--gap-std);
  display: inline-flex;
  flex-flow: row nowrap;
  gap: var(--gap-small);
  align-items: center;
}

.compact-sheet #appearance textarea {
  flex: 1;
}

.character-header-editor > div {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
